# setuptools_scm generated version file
src/asgardpy/_version.py

# build artifacts

.eggs/
.mypy_cache
*.egg-info/
*.egg
build/
dist/
sdist/
lib/
lib64/
pip-wheel-metadata/
MANIFEST


# dev tools

.env
env/
.envrc
.python-version
.idea
.venv/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
/*.iml


# jupyter notebooks

.ipynb_checkpoints


# miscellaneous

.cache/
doc/_build/
*.swp
.DS_Store


# python

*.pyc
*.pyo
__pycache__


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


# testing and continuous integration

.coverage
coverage.xml
.pytest_cache/
.tox/
.benchmarks

# documentation build artifacts

docs/build
site/
