# Conda environment for asgardpy
#
# Install:    conda env create -f environment.yml
# Update:     conda env update -f environment.yml
# Activate:   conda activate asgardpy
# Deactivate: conda deactivate

name: asgardpy

channels:
  - conda-forge

variables:
  PYTHONNOUSERSITE: "1"

dependencies:
  # core dependencies
  - python=3.12
  - pip
  - astropy>=6.0,<7.0
  - numpy>2.0
  - gammapy~=1.3
  - pydantic>=2.5
  - ruamel.yaml
  - regions>=0.5
  - matplotlib>=3.4
  - scipy>=1.12
  - iminuit>=2.8.0
  - towncrier<24.7
  - xmltodict
  # test dependencies
  - pytest>7.0
  - pytest-cov
  - tqdm
  - pre-commit
  - tox
  # extra dependencies
  - ipython
  - jupyter
  - jupyterlab
  # dev dependencies
  - ruff
  - black
  - codespell
  - mypy
  - isort
  - nbsphinx
  - numdifftools
  - pandoc
  - pydocstyle
  - pylint
  - setuptools_scm
  - sphinx<9
  - furo
  - myst-parser
  - sphinx-copybutton>=0.5.0
  - sphinx-autobuild>=2021.3.14
  - sphinx-autodoc-typehints
  - sphinxcontrib-towncrier
  - packaging
  - pip:
      - pytest-sphinx
      - autodoc_pydantic>=2.1
      - asgardpy
