# Add your own dependencies to this file.
numpy
scipy<1.10
astropy>=5.1
jupyter
gammapy~=1.0
regions>0.5
matplotlib>=3.4
seaborn
iminuit>=2.8.0
ruamel.yaml
xmltodict
uproot
pydantic                                                                                                                                                                                                
